:root {
    --rs-theme-1: #0D59EF;
    --rs-theme-2: #01D2A1;
    --rs-theme-orange: #FFA319;
    --rs-title-color: #042552;
    --rs-body-color: #042552;
    --rs-blue-gradient: linear-gradient(94deg, #5BC8FF -12.25%, #2E74FF 97.76%);


    --rs-body-color-2: #5C6778;
    --rs-body-color-3: #EEEFFF;
    --rs-bg-color: #F4F4F4;
    --rs-border-color: #E7E7E7;
    --rs-white: #fff;
    --rs-white-01: rgba(255, 255, 255, 0.1);
    --rs-white-02: rgba(255, 255, 255, 0.2);
    --rs-white-05: rgba(255, 255, 255, 0.5);
    --rs-white-06: rgba(255, 255, 255, 0.6);
    --rs-black: #000;
    --rs-smoke: #F8FAE0;
    --rs-smoke-2: #D9E2E0;
    --rs-smoke-alpha: rgba(217, 226, 224, 0.35);
    --rs-red: #FF0202;



}